.reporte-costo-table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}

.reporte-costo-table th, .reporte-costo-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.reporte-costo-table th {
    background-color: #f2f2f2;
    color: #333;
}
